<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://apipessoasdddservices20260108115225-gxbbb3enbqcxdsgt.scm.brazilsouth-01.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/7b97b446-9e95-4986-9f63-57b039912779/resourcegroups/API/providers/Microsoft.ContainerRegistry/registries/APIPessoasDDDServices20260108115446</ContainerResourceId>
    <ContainerResourceName>APIPessoasDDDServices20260108115446</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>apipessoasdddservices20260108115446.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ApiResourceId>/subscriptions/7b97b446-9e95-4986-9f63-57b039912779/resourceGroups/API/providers/Microsoft.ApiManagement/service/APIPessoasDDDServicesapi/apis/APIPessoasDDDServices</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/7b97b446-9e95-4986-9f63-57b039912779/resourcegroups/API/providers/Microsoft.Web/sites/APIPessoasDDDServices20260108115225</ResourceId>
    <ResourceGroup>API</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://apipessoasdddservices20260108115225-gxbbb3enbqcxdsgt.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d606e768-d6cb-b19b-7930-00270cc44346</ProjectGuid>
  </PropertyGroup>
</Project>